
Django==4.0.3
nltk==3.6.7
transformers==4.15.0
openai==0.27.0
flashtext==2.7
Pywsd==1.0.2
summa==1.2.0
fpdf==1.7.2
openpyxl==3.0.9
torch==1.10.0
bert-extractive-summarizer==0.7.0
git+https://github.com/boudinfl/pke.git
